.link {
  text-decoration: none;
  color: #fff;
  padding: 10px;
}

.link:hover {
  color: brown;
  background-color: #fff;
  font-weight: 600;
}

.link-home {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
}
